 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>Indira System Watch</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet">
	<link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.theme.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
	<link href="/static/css/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="/static/css/magnific-popup.css"> 
	
	<script src="/static/js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->
	<!--[if IE 9]>
		<script src="/static/js/PIE_IE9.js"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="/static/js/PIE_IE678.js"></script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="/static/js/html5shiv.js"></script>
	<![endif]-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	




	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Indira System Watch</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">a Shimla Municipal Corporation initiative</h3>
			
			<!--
			<ul class="list-inline intro-social-buttons">
				<li><a href="https://twitter.com/galantiandrea" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
				</li>
				<li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Free Download</span></a>
				</li>
			</ul>
		-->

		</div>    
        <!-- /.container -->
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="/static/img/icon/circle.png" alt=""> </a>
			</div>
		</div>
    </div>





	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container">
			

<!--

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">Flatfy</a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is?</a></li>
					<li class="menuItem"><a href="#useit">Use It</a></li>
					<li class="menuItem"><a href="#screen">Screenshot</a></li>
					<li class="menuItem"><a href="#credits">Credits</a></li>
					<li class="menuItem"><a href="#contact">Contact</a></li>
				</ul>
			</div>
		   -->
<p> Mentioned Below are the Sewage Treatment Plants that currently operate and their bi-weekly reports </p>
<p> (NOTE: Value of '-1' represents "Not Conducted") </p>
		</div>
	</nav> 
	






	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			

			
					<table  class="table table-bordered" border='1'>

  <tr>
    <th colspan="2"></th>
    <th colspan="5">Detail of Influent</th> 
    <th colspan="5">Detail of Effluent</th>
  </tr>
  
  <tr>
    
    <th>	Date of Entry	</th>
    <th>	Flow Received (MLD)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.) </th>
  </tr>
  <h2>SNOWDOWN</h2> 
  {% for post in new %}

   
  	{% if post.STP_NAME == 'SNOWDON' %}
  <tr>
    
    <td>{{post.published_date}}</td>
    <td>{{post.FLOW_RECEIVED}}</td>
    <td>{{post.IN_BOD}}</td>
    <td>{{post.IN_COD}}</td>
    <td>{{post.IN_pH}}</td>
    <td>{{post.IN_TSS}}</td>
    <td>{{post.IN_DO}}</td>
    <td>{{post.EF_BOD}}</td>
    <td>{{post.EF_COD}}</td>
    <td>{{post.EF_pH}}</td>
    <td>{{post.EF_TSS}}</td>
    <td>{{post.EF_DO}}</td>
    
  </tr>
  {% endif %}
{% endfor %}
</table>

		







		</div>
	</div>
	





	<!-- Use it -->
    <div id ="useit" class="content-section-a">

        <div class="container">
			
         <table class="table table-bordered" border='1'>

  <tr>
    <th colspan="2"></th>
    <th colspan="5">Detail of Influent</th> 
    <th colspan="5">Detail of Effluent</th>
  </tr>
  
  <tr>
    
    <th>	Date of Entry	</th>
    <th>	Flow Received (MLD)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.) </th>
  </tr>
  <h2>NORTH DISPOSAL</h2>
  {% for post in new %}

   
  	{% if post.STP_NAME == 'NORTH_DISPOSAL' %}
  <tr>
    
    <td>{{post.published_date}}</td>
    <td>{{post.FLOW_RECEIVED}}</td>
    <td>{{post.IN_BOD}}</td>
    <td>{{post.IN_COD}}</td>
    <td>{{post.IN_pH}}</td>
    <td>{{post.IN_TSS}}</td>
    <td>{{post.IN_DO}}</td>
    <td>{{post.EF_BOD}}</td>
    <td>{{post.EF_COD}}</td>
    <td>{{post.EF_pH}}</td>
    <td>{{post.EF_TSS}}</td>
    <td>{{post.EF_DO}}</td>
    
  </tr>
  {% endif %}
{% endfor %}
</table>



        </div>

    </div>









	<!-- Screenshot -->

	
	<div id="screen" class="content-section-b">
        <div class="container">
		
<table class="table table-bordered" border='1'>

  <tr>
    <th colspan="2"></th>
    <th colspan="5">Detail of Influent</th> 
    <th colspan="5">Detail of Effluent</th>
  </tr>
  
  <tr>
    
    <th>	Date of Entry	</th>
    <th>	Flow Received (MLD)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.) </th>
  </tr>
  <h2>SUMMER HILL</h2> 
  {% for post in new %}

   
  	{% if post.STP_NAME == 'SUMMER_HILL' %}
  <tr>
    
    <td>{{post.published_date}}</td>
    <td>{{post.FLOW_RECEIVED}}</td>
    <td>{{post.IN_BOD}}</td>
    <td>{{post.IN_COD}}</td>
    <td>{{post.IN_pH}}</td>
    <td>{{post.IN_TSS}}</td>
    <td>{{post.IN_DO}}</td>
    <td>{{post.EF_BOD}}</td>
    <td>{{post.EF_COD}}</td>
    <td>{{post.EF_pH}}</td>
    <td>{{post.EF_TSS}}</td>
    <td>{{post.EF_DO}}</td>
    
  </tr>
  {% endif %}
{% endfor %}
</table>
			
		</div>
	</div>	







	
	<!-- Credits -->
	<div id="credits" class="content-section-a">
		<div class="container">
			
			<table class="table table-bordered" border='1'>

  <tr>
    <th colspan="2"></th>
    <th colspan="5">Detail of Influent</th> 
    <th colspan="5">Detail of Effluent</th>
  </tr>
  
  <tr>
    
    <th>	Date of Entry	</th>
    <th>	Flow Received (MLD)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.) </th>
  </tr>
  <h2>DHALLI</h2> 
  {% for post in new %}

   
  	{% if post.STP_NAME == 'DHALLI' %}
  <tr>
    
    <td>{{post.published_date}}</td>
    <td>{{post.FLOW_RECEIVED}}</td>
    <td>{{post.IN_BOD}}</td>
    <td>{{post.IN_COD}}</td>
    <td>{{post.IN_pH}}</td>
    <td>{{post.IN_TSS}}</td>
    <td>{{post.IN_DO}}</td>
    <td>{{post.EF_BOD}}</td>
    <td>{{post.EF_COD}}</td>
    <td>{{post.EF_pH}}</td>
    <td>{{post.EF_TSS}}</td>
    <td>{{post.EF_DO}}</td>
    
  </tr>
  {% endif %}
{% endfor %}
</table>


		</div>
	</div>
	







<div id="screen" class="content-section-b">
        <div class="container">
		
<table class="table table-bordered" border='1'>

  <tr>
    <th colspan="2"></th>
    <th colspan="5">Detail of Influent</th> 
    <th colspan="5">Detail of Effluent</th>
  </tr>
  
  <tr>
    
    <th>	Date of Entry	</th>
    <th>	Flow Received (MLD)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.) </th>
  </tr>
  <h2>SANJAULI MALYANA</h2> 
  {% for post in new %}

   
  	{% if post.STP_NAME == 'SANJAULI_MALYANA' %}
  <tr>
    
    <td>{{post.published_date}}</td>
    <td>{{post.FLOW_RECEIVED}}</td>
    <td>{{post.IN_BOD}}</td>
    <td>{{post.IN_COD}}</td>
    <td>{{post.IN_pH}}</td>
    <td>{{post.IN_TSS}}</td>
    <td>{{post.IN_DO}}</td>
    <td>{{post.EF_BOD}}</td>
    <td>{{post.EF_COD}}</td>
    <td>{{post.EF_pH}}</td>
    <td>{{post.EF_TSS}}</td>
    <td>{{post.EF_DO}}</td>
    
  </tr>
  {% endif %}
{% endfor %}
</table>


		</div>
	</div>	


	




	
<div id="credits" class="content-section-a">
		<div class="container">
			
	<table class="table table-bordered" border='1'>

  <tr>
    <th colspan="2"></th>
    <th colspan="5">Detail of Influent</th> 
    <th colspan="5">Detail of Effluent</th>
  </tr>
  
  <tr>
    
    <th>	Date of Entry	</th>
    <th>	Flow Received (MLD)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.)	</th>
    <th>	BOD (mg./Ltr.)	</th>
    <th>	COD (mg./Ltr.)	</th>
    <th>	pH	</th>
    <th>	TSS (mg./Ltr.)	</th>
    <th>	DO (mg./Ltr.) </th>
  </tr>
  <h2>LALPANI</h2> 
  {% for post in new %}

   
  	{% if post.STP_NAME == 'LALPANI' %}
  <tr>
    
    <td>{{post.published_date}}</td>
    <td>{{post.FLOW_RECEIVED}}</td>
    <td>{{post.IN_BOD}}</td>
    <td>{{post.IN_COD}}</td>
    <td>{{post.IN_pH}}</td>
    <td>{{post.IN_TSS}}</td>
    <td>{{post.IN_DO}}</td>
    <td>{{post.EF_BOD}}</td>
    <td>{{post.EF_COD}}</td>
    <td>{{post.EF_pH}}</td>
    <td>{{post.EF_TSS}}</td>
    <td>{{post.EF_DO}}</td>
    
  </tr>
  {% endif %}
{% endfor %}
</table>


		</div>
	</div>



<div id="downloadlink" class="banner">
		<div class="container">
				<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contact Us</h2>
				<p class="lead" style="margin-top:0">for grievances and question</p>
			</div>
			
			
				<div class="col-md-6">
					<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d49040.41060708099!2d77.11707169007465!3d31.096994164584466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x390578e09027ce99%3A0x6995fd1ff4ea7906!2sLink+Road%2C+Tutikandi%2C+Shimla%2C+Himachal+Pradesh+171004%2C+India!3m2!1d31.0969254!2d77.1520913!5e1!3m2!1sen!2sus!4v1474432325246" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					<!--
					<div class="form-group">
						<label for="InputName">Your Name</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputEmail">Your Email</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputMessage">Message</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
				-->

				</div>
			
			
			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Office Location</h3>
					<p class="lead">
					<br>
					Office of the Executive Engineer<br>
					Sewage Division MC Shimla<br>
					Email: gswssc@gmail.com <br>
					Phone: +91-177-2650313
					</p>
					</address>



<!-- SOcial Icons
					<h3>Social</h3>
					<li class="social"> 
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
				-->

				</div>
			</div>
		</div>
	</div>







	<!-- 
	<div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Contact Us</h2>
				<p class="lead" style="margin-top:0">A special thanks to Death.</p>
			</div>
			
			<form role="form" action="" method="post" >
				<div class="col-md-6">
					<div class="form-group">
						<label for="InputName">Your Name</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputEmail">Your Email</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>
					
					<div class="form-group">
						<label for="InputMessage">Message</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
						</div>
					</div>

					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
				</div>
			</form>
			
			<hr class="featurette-divider hidden-lg">
				<div class="col-md-5 col-md-push-1 address">
					<address>
					<h3>Office Location</h3>
					<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">The Pentagon<br>
					Washington, DC 20301</a><br>
					Phone: XXX-XXX-XXXX<br>
					Fax: XXX-XXX-YYYY</p>
					</address>

					<h3>Social</h3>
					<li class="social"> 
					<a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
					</li>
				</div>
			</div>
		</div>
	</div>
	
	
-->




	
    <footer>
      <div class="container">
        
            <h3 class="footer-title">Developed By:</h3>
           			Abhimanyu Singh
                    <li class="social"> 
					<a href="https://www.facebook.com/rebel1709"><i class="fa fa-facebook-square fa-size"> </i></a>
					<a href="https://www.linkedin.com/in/abhimanyu-singh-a70784aa"><i class="fa fa-linkedin-square fa-size"></i></a>
					</li>
              
            
			
           
  
      </div>
    </footer>






    <!-- JavaScript -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script src="/static/js/owl.carousel.js"></script>
	<script src="/static/js/script.js"></script>
	<!-- StikyMenu -->
	<script src="/static/js/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>





	<!-- Smoothscroll -->
	<script type="text/javascript" src="/static/js/jquery.corner.js"></script> 
	<script src="/static/js/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="/static/js/classie.js"></script>
	<script src="/static/js/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="/static/js/jquery.magnific-popup.js"></script> 
</body>

</html>
